
<div>
  <input [(ngModel)]="searchText" (keyup)="filterMembers()" class="filter-input">
  <span class="filter-clear" *ngIf="searchText.length>0" (click)="clearFilter()">X</span>
</div>

<div class="row">
  <div class="col-xs-10">
    <ul class="list-group">
      <li class="list-group-item"
      *ngFor="let member of members">
        {{member.lastName}}, {{member.firstName}} <span *ngIf="member.cellPhone">(c) {{member.cellPhone}}</span>  <span *ngIf="member.homePhone"> (h) {{member.homePhone}} </span>
        <span *ngIf="member.officePhone"> (o) {{member.officePhone}} </span> <a href="mailto:{{member.email}}"> {{member.email}} </a><br/>
        <span *ngIf="member.spouseName"> {{member.spouseName}} </span><span *ngIf="member.spousePhone"> (sc) {{member.spousePhone}} </span>
        <span *ngIf="member.spouseEmail"> <a href="mailto:{{member.spouseEmail}}"> {{member.spouseEmail}} </a> </span> <br/>
        <span *ngIf="member.childrenNames"> {{member.childrenNames}} </span><br/>
        {{member.address}} <br/>
        {{member.memberType}} <br/>
        <ul class="list-group">
          <li class="list-group-item"
              *ngFor="let boat of member.boatList">
            {{boat.boatName}}
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
