<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/members">Boat Club Members <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/addMember">Add New Member</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/editMember">Edit Existing Member</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/addBoat">Add New Boat</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/editBoat">Edit Existing Boat</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/assignSlip">Assign Boat To Slip</a>
      </li>
    </ul>
  </div>
</nav>
